extends layout

block content
  h1 This is index.pug page
  p Welcome to Pug #{title}
  button(type="button", class="btn btn-success") PressMe
  div.container
  div#mphDisplay
    | MPH #{mph} with change #{change}.
  button(onclick='goFaster()') Go Faster
  
  script.
    var mph = 20;
    var change = 1;
   function goFaster()
    {
       
        mph =mph+change;
        change++;
        document.getElementById('mphDisplay').textContent = `MPH ${mph} with change ${change}`;
    }
  
  a(href='/searchresults') nuggets
