extends layout

block content
  h1= title
  - let des = `dispatch("/searchresults/create")`
  button.btn.btn-primary.ml-1(onclick=des) Create
  -
    let items = results
  div.container-fluid
    each item, index in items
      - let destination = `dispatch("/searchresults/update?id=${item._id}")`
      - let destination1 = `dispatch("/searchresults/detail?id=${item._id}")`
      - let destination2 = `dispatch("/searchresults/delete?id=${item._id}")`
      .card.m-1
        .card-body
          h5.card-title Item #{item.name} (#{item.size})
          p.card-text Price: $#{item.price}
          button.btn.btn-info.ml-1(onclick=destination) Update
          button.btn.btn-success.ml-1(onclick=destination1) Details
          button.btn.btn-danger.ml-1(onclick=destination2) Delete

  script.
    function dispatch(path){
      window.location.href = path;
    }
