extends layout

block content
  h1(style='color: #3498db;')= title
  if (toShow == null)
    h2(style='color: #e74c3c;') No instance to delete
  else
    - let id = toShow._id
    - let name = toShow.name
    - let size = toShow.size
    - let price = toShow.price
    - let actionid = "/resource/searchresults/" + id

    script.
      let actionid = "#{actionid}"

    div(style='margin-top: 20px;')
      div.row
        div.searchresultsAttr.mr-3(style='color: #red;') NuggetsID is:
        div(style='color: #3498db;') #{id}
      div.row
        div.searchresultsAttr.mr-3(style='color: #green;') Nuggets name is:
        div(style='color: #3498db;') #{name}
      div.row
        div.searchresultsAttr.mr-3(style='color: #blue;') Nuggetssize is:
        div(style='color: #3498db;') #{size}
      div.row
        div.searchresultsAttr.mr-3(style='color: #pink;') Nuggetsprice is:
        div(style='color: #3498db;') #{price}

    button.btn.btn-danger.m-2(onclick="deleteOnid()", style='background-color: #e74c3c;') Delete
    button.btn.btn-secondary.m-2(onclick="cancel()", style='background-color: #3498db;') Cancel

    script.
      function cancel() {
        // Go back to the home page for the Nuggets collection
        window.location.href='/searchresults'
      }

    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE'  // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/searchresults'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error)
        });
      }
