extends layout

block content
  h1(style='color: #3498db;')= title
  - let _id = toShow._id
  - let name = toShow.name
  - let size = toShow.size
  - let price = toShow.price

  div(style='margin-top: 20px;')
    div.row(style='margin-bottom: 10px;')
      div.searchresultsAttr.mr-3(style='color: #e74c3c; font-weight: bold;') Nuggets ID is:
      div(style='color: #e74c3c;') #{_id}

    div.row(style='margin-bottom: 10px;')
      div.searchresultsAttr.mr-3(style='color: #27ae60; font-weight: bold;') Nuggets Type is:
      div(style='color: #27ae60;') #{name}

    div.row(style='margin-bottom: 10px;')
      div.searchresultsAttr.mr-3(style='color: #3498db; font-weight: bold;') Nuggets Size is:
      div(style='color: #3498db;') #{size}

    div.row(style='margin-bottom: 10px;')
      div.searchresultsAttr.mr-3(style='color: #f39c12; font-weight: bold;') Nuggets Cost is:
      div(style='color: #f39c12;') #{price}
